.populars-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 16px;
}

/* Medium Screen */
@media (max-width: 768px) {
    .populars-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 480px) {
   .populars-container {
    grid-template-columns: 1fr;
   } 
}